# build directories
build/
build_client/
build_server/

# documentation build
doc/

# temporary folder
tmp/

# core dumps
core
core.*

# backup files
*~

# appimage
packaging/appimage/tuxanci-x86_64.AppImage
