# build directories
build/
build_client/
build_server/

# documentation build
doc/

# temporary folder
tmp/

# core dumps
core
core.*

# backup files
*~

# flatpak files
flatpak/io.github.GNUfault.tuxanci-*.flatpak
flatpak/repo
flatpak/build
flatpak/.flatpak-builder
