### General section ###
# build directory
build/
doc/

### xHire's section ###
# private scripts
ai.sh
build.sh
patch.sh
chmod.sh
indent.sh

# notes
NOTES
CHANGELOG
handbook_data/

# tmp folder
tmp/

# core dumps
core.*

# backup files
*~

# debug files
DEBUG.*
