[Desktop Entry]
Name=tuxanci
Comment=game tuxanci next generation
Exec=/usr/bin/tuxanci
Terminal=false
Type=Application
Icon=/usr/share/tuxanci/image/tuxanci.ico
Encoding=UTF-8
Categories=Game
